In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [14]:
df = pd.read_csv('/content/drive/MyDrive/Data Science/Netflix/netflix_data.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas

In [15]:
df['country'].unique()

array(['Brazil', 'Mexico', 'Singapore', 'United States', 'Turkey',
       'Egypt', 'India', 'Poland', 'Thailand', 'Nigeria', nan, 'Norway',
       'United Kingdom', 'Japan', 'South Korea', 'Italy', 'Canada',
       'Indonesia', 'Romania', 'Spain', 'Iceland', 'South Africa',
       'France', 'Portugal', 'Hong Kong', 'Argentina', 'Germany',
       'Denmark', 'Kenya', 'New Zealand', 'Pakistan', 'Australia',
       'China', 'Taiwan', 'Netherlands', 'Philippines', 'United Arab',
       'Iran', 'Israel', 'Uruguay', 'Bulgaria', 'Mauritius', 'Lebanon',
       'Colombia', 'Soviet Union', 'Sweden', 'Malaysia', 'Ireland',
       'Serbia', 'Finland', 'Peru', 'Chile', 'Ghana', 'Saudi Arabia',
       'Namibia', 'Russia', 'Belgium', 'Vietnam', 'Kuwait',
       'Czech Republic', 'Zimbabwe', 'Hungary', 'Venezuela', 'Cambodia',
       'Austria', 'West Germany', 'Slovenia', 'Switzerland', 'Jordan',
       'Bangladesh', 'Georgia', 'Puerto Rico', 'Senegal', 'Guatemala',
       'Ukraine', 'Jamaica', 'Belarus', 'Cyprus', 'Greece', 'Paraguay',
       'Croatia', 'Somalia'], dtype=object)

In [16]:
country_grp = df.groupby(['country'])

In [17]:
country_grp['genre'].value_counts().loc['India']

genre
Dramas                  382
Comedies                254
Action                  127
International TV         44
International Movies     35
Horror Movies            30
Children                 19
Documentaries            19
Kids                     11
Classic Movies            9
Crime TV                  9
Docuseries                6
Stand-Up                  6
TV Shows                  2
British TV                1
Cult Movies               1
Independent Movies        1
Name: genre, dtype: int64

In [18]:
country_grp['genre'].value_counts().loc['United States']

genre
Documentaries         397
Dramas                377
Comedies              328
Children              290
Action                245
Stand-Up              238
Kids                  163
Docuseries            118
Crime TV              112
Horror Movies         111
TV Comedies           100
Reality TV             80
TV Dramas              52
Classic Movies         42
Thrillers              40
TV Action              33
Romantic TV            26
Uncategorized          22
International TV       18
Classic                16
Independent Movies     13
Anime Series           11
Music                  10
British TV              9
Cult Movies             9
TV Horror               9
Sci-Fi                  6
TV Shows                3
Romantic Movies         2
Spanish-Language        2
Anime Features          1
Name: genre, dtype: int64

In [19]:
country_grp['genre'].value_counts().loc['Brazil']

genre
International TV    15
Comedies            11
Documentaries       11
Dramas              11
Stand-Up             9
Children             7
Crime TV             5
Docuseries           5
Action               3
Kids                 2
Name: genre, dtype: int64

We can select the above 3 countries and the categories as Dramas and Action. The null hypothesis is that there is no relation between the country and the corresponding video categories. The alternative hypothesis can be that there is a relation or that they are not independent.

In [20]:
data = [[382, 127], [377, 245], [11, 3]]

In [21]:
test_statistic, p_value, dof, expected_freq = chi2_contingency(data)

In [22]:
print(f'Test Statistic - {test_statistic}\nP-Value - {p_value}\nDegrees of Freedom - {dof}')

Test Statistic - 27.319724565056845
P-Value - 1.168415170492391e-06
Degrees of Freedom - 2

In [23]:
alpha = 0.05
if p_value <= alpha:
    print('Reject null hypothesis')
else:
    print('Fail to reject null hypothesis')

Reject null hypothesis